*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 80%;
    justify-content:space-between;
    padding: 20px;
    color: whitesmoke;
}

.btn{
    display: flex;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 8px 15px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.image_container {
    height: 120px;
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
}

.image_container img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.image_container span {
    top: -6px;
    right: 8px;
    color: red;
    font-size: 28px;
    font-weight: normal;
    cursor: pointer;
}
